<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="text-center">
      <h1>Le chronomètre</h1>
        <hr>
        <h1>
        <span class="label label-primary">{{_timer.min}}</span> minutes
        <span class="label label-primary">{{_timer.sec}}</span> secondes
      </h1>
      <br>
      <p>
        <button class="btn btn-danger btn-lg" *ngIf="_state.back" (click)="back()">Effacer</button>
        <button class="btn btn-danger btn-lg" *ngIf="_state.stop" (click)="stop()">Arrêter</button>
        <button class="btn btn-primary btn-lg" *ngIf="_state.play" (click)="play()">{{_btnPlay}}</button>
      </p>
    </div>
  </div>